header, section {
	display: inline-block;
}

.left {
	float: left;
	width: 35%;
}

.right {
	float: right;
	width: 60%;
}

#headshot {
	display: block;
	text-align: center;
	margin: 50px auto 0;
	border: 2px solid #E13A63;
}

.experience {
	display: inline-block;
	clear: both;
	margin-top: 30px;
	text-align: center;
}

header, .experience {
	border: 2px solid #E13A63;
	padding: 10px;
}

@media screen and (max-width: 600px){

  .main-content{
    clear: both;
		display: block;
		padding: 0;
		margin: 0;
  }

  .right {
	clear: both;
	display: block;
	text-align: left;
	padding-right: 20%;
  }

  .left {
	text-align: left;
	clear: both;
	display: block;
	padding-left: 30%;
  }

  body{
    width: 100%;
    clear: both;
  }

	.experience{
		width: 90%;
		margin-left: 8px;
	}
